[Desktop Entry]
Type=Application
Name=Welcome to HiganveinOS
Comment=Live Session Welcome & Installer Launcher
Exec=/usr/local/bin/higan-welcome
Icon=drive-harddisk
Terminal=false
Categories=System;
StartupNotify=true
