SERIAL 0 38400
UI vesamenu.c32
DEFAULT higan
PROMPT 0
TIMEOUT 50

MENU BACKGROUND splash.png
MENU TITLE HiganveinOS Core (Legacy BIOS)
MENU MARGIN 3
MENU ROWS 6
MENU WIDTH 34
MENU VSHIFT 6
MENU TABMSGROW 16
MENU CMDLINEROW 16
MENU TIMEOUTROW 17

# Colors: <item> <ansi_attr> <fg_hex> <bg_hex> <shadow>
MENU COLOR border      0       #00000000 #00000000 none
MENU COLOR title       1;36;40 #ffef4444 #00000000 none
MENU COLOR sel         7;37;40 #ffffffff #c0991b1b all
MENU COLOR unsel       37;40   #c0d4d4d8 #00000000 none
MENU COLOR help        37;40   #80a1a1aa #00000000 none
MENU COLOR timeout_msg 37;40   #8071717a #00000000 none
MENU COLOR timeout     1;37;40 #ffef4444 #00000000 none
MENU COLOR msg07       37;40   #80d4d4d8 #00000000 none
MENU COLOR tabmsg      31;40   #80ef4444 #00000000 none

LABEL higan
    MENU LABEL HiganveinOS Live (BIOS)
    LINUX /arch/boot/x86_64/vmlinuz-linux-cachyos
    INITRD /arch/boot/x86_64/initramfs-linux-cachyos.img
    APPEND archisobasedir=arch archisolabel=HIGANVEINOS_202609 quiet splash

LABEL higan-safe
    MENU LABEL HiganveinOS (Safe Graphics)
    LINUX /arch/boot/x86_64/vmlinuz-linux-cachyos
    INITRD /arch/boot/x86_64/initramfs-linux-cachyos.img
    APPEND archisobasedir=arch archisolabel=HIGANVEINOS_202609 nomodeset

LABEL hdt
    MENU LABEL Hardware Detection (HDT)
    COM32 hdt.c32

LABEL reboot
    MENU LABEL Reboot System
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Power Off
    COM32 poweroff.c32
