[Unit]
Description=HiganveinOS Live Session Permission Initializer
Before=sddm.service display-manager.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/chown -R 1000:1000 /home/higan
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
