[Unit]
Description=HiganveinOS Live Session Initializer
Before=sddm.service display-manager.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/higan-live-init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
