[Desktop Entry]
Version=1.0
Icon=lycoris
Type=X-XFCE-Helper
Name=Lycoris
StartupNotify=true
X-XFCE-Binaries=lycoris;/usr/bin/lycoris;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
