[Desktop Entry]
Type=Application
Name=HiganveinOS Installer
Comment=Install HiganveinOS
Exec=sudo /usr/bin/calamares
Icon=drive-harddisk
Terminal=false
Categories=System;
