set gfxmode=auto
set gfxpayload=keep
insmod all_video
insmod png
insmod jpeg
insmod gfxterm
background_image /boot/grub/themes/higan/background.jpg

set menu_color_normal=light-gray/black
set menu_color_highlight=red/dark-gray

# Header kustom di terminal GRUB
echo "=================================================="
echo "          HIGANVEINOS CORE v1.0 - ALPHA           "
echo "    Blazing Fast • Stunningly Riced • CachyOS     "
echo "=================================================="
echo ""

menuentry "HiganveinOS Live (UEFI / CachyOS Kernel)" {
    set gfxpayload=keep
    search --no-floppy --set=root --label HIGANVEINOS_*
    linux /arch/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=arch archisolabel=$root_label quiet splash
    initrd /arch/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "HiganveinOS Live (Safe Graphics / Nomodeset)" {
    set gfxpayload=keep
    search --no-floppy --set=root --label HIGANVEINOS_*
    linux /arch/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=arch archisolabel=$root_label nomodeset
    initrd /arch/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "UEFI Firmware Settings" {
    fwsetup
}
