set gfxmode=auto
set gfxpayload=keep
insmod all_video
insmod png
insmod jpeg
insmod gfxterm
background_image /boot/grub/themes/higan/background.jpg

set menu_color_normal=light-gray/black
set menu_color_highlight=red/dark-gray

menuentry "HiganveinOS Live (UEFI)" {
    set gfxpayload=keep
    search --no-floppy --set=root --label HIGANVEINOS_*
    linux /arch/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=arch archisolabel=$root_label quiet splash
    initrd /arch/boot/x86_64/initramfs-linux-cachyos.img
}
